{# NOTE: This template is intentionally empty. See theming.rst for info on setting up theming. #}


<style>
  #usf-footer {
    border-top: 4px solid gray;
    background-color: white;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
  }
  .flex-container > div {
    margin: 10px;
    text-align: center;
  }
  #openstax-footer-logo {
    height: 43px;
  }
  #riceu-footer-logo {
    height: 43px;
  }
  #openedx-footer-logo {
  }
  .footer-menu {
    list-style-type: circle;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .footer-menu li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer-menu li a {
    color: #333;
  }
  .footer-menu li a:hover {
    border-bottom-color: #333;
  }
  .copyright {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    padding-top: 10px;
    padding-bottom: 10px;
    background: black;
    color: #eee;
  }
</style>

<footer id="usf-footer">
  <div>
    <nav class="nav-legal" aria-label="Legal">
      <ul class="footer-menu">
          <li class="nav-legal-01">
            <a href="https://www.academiacentral.org/privacy-policy">Privacy Policy</a>
          </li>
          <li class="nav-legal-02">
            <a href="https://www.academiacentral.org/terms-of-service">Terms of Service</a>
          </li>
          <li class="nav-legal-03">
            <a href="https://www.academiacentral.org/honor">Honor Code</a>
          </li>
          <li class="nav-legal-04">
            <a href="https://www.academiacentral.org/faq" target="_blank">FAQ</a>
          </li>
      </ul>
    </nav>
  </div>
  <div class="flex-container">
    <div>
      {# NOTE: This template is intentionally empty. See theming.rst for info on setting up theming. #}
      {# mcdaniel jul-2019: moved openstax logo to top-left of header. #}
    </div>
    <div>
      {# mcdaniel jul-2019: rice logo was already duplicated. removing. #}
    </div>
    <div>
      <a href="${footer['openedx_link']['url']}">
        <img id="openedx-footer-logo" src="https://d2jbzx64heofgk.cloudfront.net/openedx-logos/edx-openedx-logo-tag.png" alt="Open edX" width="140" />
      </a>
    </div>
  </div>
  <p class="copyright">Copyright © 2021, University of South Florida. All rights reserved except where noted. EdX, Open edX and their respective logos are trademarks or registered trademarks of edX Inc. </p>
</footer>
