{% extends 'edx/partials/_base_navbar.html' %}
{% load static %}

{% block navbar_brand %}
    <style>
      .navbar {
        border-bottom: 4px solid gray !Important;
      }
      .navbar-brand .navbar-brand-logo {
        width: auto !Important;
      }
      .usf-logo {
        transition: none !Important;
      }
      .usf-logo:hover {
        border-bottom: none !Important;
      }
    </style>
    <h1 class="navbar-brand">
        <a class="usf-logo" href="https://mooc.academiacentral.org/">
          <img class="navbar-brand-logo" alt="{{ platform_name }} logo" src="https://cdn.academiacentral.org/"/>
        </a>
    </h1>
{% endblock navbar_brand %}

{% block dropdown_menu %}
  {% include "edx/base_menu.html" %}
{% endblock dropdown_menu %}

{% block small_dropdown_menu %}
  {% include "edx/base_menu.html" with additional_class="visible-xs" %}
{% endblock small_dropdown_menu %}
