##-----------------------------------------------------------------------------
## written by:  mcdaniel
## date:        dec-2022
## usage:       conditionally add swReactJS libraries.
##-----------------------------------------------------------------------------
<script type="text/javascript" charset="utf-8">
 var swReactXBlocks = document.getElementsByClassName("reactjs-app");

if (swReactXBlocks.length > 0) {
    console.log("edx-theme-example: adding ReactJS libraries");
    var swReactJS = document.createElement("script");
    swReactJS.type = "text/javascript";
    swReactJS.crossorigin="anonymous";
    swReactJS.src = "https://unpkg.com/react@18/umd/react.production.min.js";
    document.body.appendChild(swReactJS);

    var swReactDOM = document.createElement("script");
    swReactDOM.type = "text/javascript";
    swReactDOM.crossorigin="anonymous";
    swReactDOM.src = "https://unpkg.com/react-dom@18/umd/react-dom.production.min.js";
    document.body.appendChild(swReactDOM);

    var swBabel = document.createElement("script");
    swBabel.type = "text/javascript";
    swBabel.src = "https://unpkg.com/babel-standalone@6/babel.min.js";
    document.body.appendChild(swBabel);
} else {
    console.log("edx-theme-example: no ReactJS apps found on this page.");
}
</script>